OLEIT_AS/Oleit.AS.Web.Operating/Service References/CalculateServiceReference/CalculateService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:complexType name="TupleOfTransferEntityCgf2UYTj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Transfer" Namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
          <GenericParameter Name="Entity" Namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" name="m_Item1" nillable="true" type="q1:Transfer" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" name="m_Item2" nillable="true" type="q2:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfTransferEntityCgf2UYTj" nillable="true" type="tns:TupleOfTransferEntityCgf2UYTj" />
</xs:schema>