OLEIT_AS/Oleit.AS.Web.Operating/Service References/CalculateServiceReference/CalculateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
      <xsd:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53695/CalculateService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculateService_AutoJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoJournal" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_AutoJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoJournalResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_GetWeeklySummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeeklySummary" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_GetWeeklySummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeeklySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_HasWeeklySummary_InputMessage">
    <wsdl:part name="parameters" element="tns:HasWeeklySummary" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_HasWeeklySummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasWeeklySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_Subtotal_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtotal" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_Subtotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtotalResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_ExcelTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelTransfer" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_ExcelTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculateService">
    <wsdl:operation name="AutoJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/AutoJournal" message="tns:ICalculateService_AutoJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/AutoJournalResponse" message="tns:ICalculateService_AutoJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeeklySummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/GetWeeklySummary" message="tns:ICalculateService_GetWeeklySummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/GetWeeklySummaryResponse" message="tns:ICalculateService_GetWeeklySummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasWeeklySummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/HasWeeklySummary" message="tns:ICalculateService_HasWeeklySummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/HasWeeklySummaryResponse" message="tns:ICalculateService_HasWeeklySummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtotal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/Subtotal" message="tns:ICalculateService_Subtotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/SubtotalResponse" message="tns:ICalculateService_Subtotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/Transfer" message="tns:ICalculateService_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/TransferResponse" message="tns:ICalculateService_Transfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/ExcelTransfer" message="tns:ICalculateService_ExcelTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/ExcelTransferResponse" message="tns:ICalculateService_ExcelTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculateService" type="tns:ICalculateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoJournal">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/AutoJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklySummary">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/GetWeeklySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasWeeklySummary">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/HasWeeklySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtotal">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/Subtotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelTransfer">
      <soap:operation soapAction="http://tempuri.org/ICalculateService/ExcelTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculateService">
    <wsdl:port name="BasicHttpBinding_ICalculateService" binding="tns:BasicHttpBinding_ICalculateService">
      <soap:address location="http://localhost:53695/CalculateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>