OLEIT_AS/Oleit.AS.Service.LogicService/Service References/PropertyAccessReference/PropertyAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57693/PropertyAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57693/PropertyAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57693/PropertyAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyAccess_Insert1_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert1" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Insert1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert1Response" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Insert2_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert2" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Insert2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert2Response" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Query1_InputMessage">
    <wsdl:part name="parameters" element="tns:Query1" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Query1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query1Response" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Query2_InputMessage">
    <wsdl:part name="parameters" element="tns:Query2" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Query2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query2Response" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_QueryAll_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAll" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_QueryAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Update1_InputMessage">
    <wsdl:part name="parameters" element="tns:Update1" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Update1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update1Response" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Update2_InputMessage">
    <wsdl:part name="parameters" element="tns:Update2" />
  </wsdl:message>
  <wsdl:message name="IPropertyAccess_Update2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update2Response" />
  </wsdl:message>
  <wsdl:portType name="IPropertyAccess">
    <wsdl:operation name="Insert1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Insert1" message="tns:IPropertyAccess_Insert1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Insert1Response" message="tns:IPropertyAccess_Insert1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Insert2" message="tns:IPropertyAccess_Insert2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Insert2Response" message="tns:IPropertyAccess_Insert2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Query1" message="tns:IPropertyAccess_Query1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Query1Response" message="tns:IPropertyAccess_Query1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Query2" message="tns:IPropertyAccess_Query2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Query2Response" message="tns:IPropertyAccess_Query2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/QueryAll" message="tns:IPropertyAccess_QueryAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/QueryAllResponse" message="tns:IPropertyAccess_QueryAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Update1" message="tns:IPropertyAccess_Update1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Update1Response" message="tns:IPropertyAccess_Update1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyAccess/Update2" message="tns:IPropertyAccess_Update2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyAccess/Update2Response" message="tns:IPropertyAccess_Update2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPropertyAccess" type="tns:IPropertyAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert1">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Insert1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Insert2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Query1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Query2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/QueryAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update1">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Update1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update2">
      <soap:operation soapAction="http://tempuri.org/IPropertyAccess/Update2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyAccess">
    <wsdl:port name="BasicHttpBinding_IPropertyAccess" binding="tns:BasicHttpBinding_IPropertyAccess">
      <soap:address location="http://localhost:57693/PropertyAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>