OLEIT_AS/Oleit.AS.Web.Operating/Service References/InternalUserServiceReference/InternalUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternalUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/InternalUserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/InternalUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/InternalUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternalUserService_NewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_NewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_NewUserCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:NewUserCollection" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_NewUserCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewUserCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_CheckPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_CheckPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_SetRole_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRole" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_SetRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_CheckRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRole" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_CheckRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_DisableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_DisableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_Disable_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_Disable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_SetRelateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelateEntity" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_SetRelateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetRelateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntity" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetRelateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_GetMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_QueryADuser_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryADuser" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_QueryADuser_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryADuserResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_QueryAlluser_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAlluser" />
  </wsdl:message>
  <wsdl:message name="IInternalUserService_QueryAlluser_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAlluserResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternalUserService">
    <wsdl:operation name="NewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/NewUser" message="tns:IInternalUserService_NewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/NewUserResponse" message="tns:IInternalUserService_NewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewUserCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/NewUserCollection" message="tns:IInternalUserService_NewUserCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/NewUserCollectionResponse" message="tns:IInternalUserService_NewUserCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/CheckPassword" message="tns:IInternalUserService_CheckPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/CheckPasswordResponse" message="tns:IInternalUserService_CheckPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/SetRole" message="tns:IInternalUserService_SetRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/SetRoleResponse" message="tns:IInternalUserService_SetRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/CheckRole" message="tns:IInternalUserService_CheckRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/CheckRoleResponse" message="tns:IInternalUserService_CheckRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/GetAllRoles" message="tns:IInternalUserService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/GetAllRolesResponse" message="tns:IInternalUserService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/DisableUser" message="tns:IInternalUserService_DisableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/DisableUserResponse" message="tns:IInternalUserService_DisableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/Disable" message="tns:IInternalUserService_Disable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/DisableResponse" message="tns:IInternalUserService_Disable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/SetRelateEntity" message="tns:IInternalUserService_SetRelateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/SetRelateEntityResponse" message="tns:IInternalUserService_SetRelateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/GetRelateEntity" message="tns:IInternalUserService_GetRelateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/GetRelateEntityResponse" message="tns:IInternalUserService_GetRelateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/GetMenu" message="tns:IInternalUserService_GetMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/GetMenuResponse" message="tns:IInternalUserService_GetMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryADuser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/QueryADuser" message="tns:IInternalUserService_QueryADuser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/QueryADuserResponse" message="tns:IInternalUserService_QueryADuser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAlluser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalUserService/QueryAlluser" message="tns:IInternalUserService_QueryAlluser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalUserService/QueryAlluserResponse" message="tns:IInternalUserService_QueryAlluser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInternalUserService" type="tns:IInternalUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewUser">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUserCollection">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/NewUserCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRole">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/SetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRole">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/CheckRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/Disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRelateEntity">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/SetRelateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/GetRelateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryADuser">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/QueryADuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAlluser">
      <soap:operation soapAction="http://tempuri.org/IInternalUserService/QueryAlluser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternalUserService">
    <wsdl:port name="BasicHttpBinding_IInternalUserService" binding="tns:BasicHttpBinding_IInternalUserService">
      <soap:address location="http://localhost:53695/InternalUserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>