OLEIT_AS/Oleit.AS.Service.LogicService/Service References/EndPeriodAccessReference/EndPeriodAccess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EndPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="tns:Currency" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Period_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndPeriod" nillable="true" type="tns:EndPeriod" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="ArrayOfEndPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndPeriod" nillable="true" type="tns:EndPeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndPeriod" nillable="true" type="tns:ArrayOfEndPeriod" />
</xs:schema>