OLEIT_AS/Oleit.AS.Service.LogicService/Service References/MenuAccessReference/MenuAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57693/MenuAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57693/MenuAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57693/MenuAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
      <xsd:import schemaLocation="http://localhost:57693/MenuAccess.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuAccess_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryAllMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryAllMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryUserMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryUserMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryAllRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryAllRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_SetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRoles" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_SetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleUser_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUser" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryRoleUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_QueryUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRole_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRole" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_InsertRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuAccess_DeleteRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuAccess">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/Insert" message="tns:IMenuAccess_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/InsertResponse" message="tns:IMenuAccess_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/Query" message="tns:IMenuAccess_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryResponse" message="tns:IMenuAccess_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryRole" message="tns:IMenuAccess_QueryRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleResponse" message="tns:IMenuAccess_QueryRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryAllMenu" message="tns:IMenuAccess_QueryAllMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryAllMenuResponse" message="tns:IMenuAccess_QueryAllMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryUserMenu" message="tns:IMenuAccess_QueryUserMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryUserMenuResponse" message="tns:IMenuAccess_QueryUserMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryAllRole" message="tns:IMenuAccess_QueryAllRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryAllRoleResponse" message="tns:IMenuAccess_QueryAllRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleMenuRelation" message="tns:IMenuAccess_QueryRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleMenuRelationResponse" message="tns:IMenuAccess_QueryRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleUserRelation" message="tns:IMenuAccess_QueryRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleUserRelationResponse" message="tns:IMenuAccess_QueryRoleUserRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/Update" message="tns:IMenuAccess_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/UpdateResponse" message="tns:IMenuAccess_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRole" message="tns:IMenuAccess_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRoleResponse" message="tns:IMenuAccess_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/SetRoles" message="tns:IMenuAccess_SetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/SetRolesResponse" message="tns:IMenuAccess_SetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleUser" message="tns:IMenuAccess_QueryRoleUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryRoleUserResponse" message="tns:IMenuAccess_QueryRoleUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/QueryUserRole" message="tns:IMenuAccess_QueryUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/QueryUserRoleResponse" message="tns:IMenuAccess_QueryUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/UpdateRole" message="tns:IMenuAccess_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/UpdateRoleResponse" message="tns:IMenuAccess_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/InsertRole" message="tns:IMenuAccess_InsertRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/InsertRoleResponse" message="tns:IMenuAccess_InsertRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/InsertRoleMenuRelation" message="tns:IMenuAccess_InsertRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/InsertRoleMenuRelationResponse" message="tns:IMenuAccess_InsertRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRoleMenuRelation" message="tns:IMenuAccess_DeleteRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRoleMenuRelationResponse" message="tns:IMenuAccess_DeleteRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/InsertRoleUserRelation" message="tns:IMenuAccess_InsertRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/InsertRoleUserRelationResponse" message="tns:IMenuAccess_InsertRoleUserRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRoleUserRelation" message="tns:IMenuAccess_DeleteRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAccess/DeleteRoleUserRelationResponse" message="tns:IMenuAccess_DeleteRoleUserRelation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuAccess" type="tns:IMenuAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryAllMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryAllRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRoles">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/SetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUser">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryRoleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/QueryUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRole">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/InsertRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/InsertRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/DeleteRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/InsertRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuAccess/DeleteRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuAccess">
    <wsdl:port name="BasicHttpBinding_IMenuAccess" binding="tns:BasicHttpBinding_IMenuAccess">
      <soap:address location="http://localhost:57693/MenuAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>