OLEIT_AS/Oleit.AS.Web.Operating/Service References/EndPeriodServiceReference/EndPeriodService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53695/EndPeriodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:element name="GetEndPeriodRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Currency" nillable="true" type="q1:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndPeriodRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="GetEndPeriodRateResult" nillable="true" type="q2:ArrayOfEndPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEndPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="endPeriod" nillable="true" type="q3:EndPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEndPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEndPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>