OLEIT_AS/Oleit.AS.Service.LogicService/Service References/WeeklySummaryReference/WeeklySummaryAccess2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57693/WeeklySummaryAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:import schemaLocation="http://localhost:57693/WeeklySummaryAccess.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Insert1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummary" nillable="true" type="q1:WeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummaryCollection" nillable="true" type="q2:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Query1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query1Result" nillable="true" type="q3:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodID" type="xs:int" />
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryResult" nillable="true" type="q4:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerybyPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerybyPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QuerybyPeriodResult" nillable="true" type="q5:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryAllResult" nillable="true" type="q6:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entity" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query2Result" nillable="true" type="q8:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummary" nillable="true" type="q9:WeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummaryCollection" nillable="true" type="q10:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTotalConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummaryCollection" nillable="true" type="q11:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTotalConfirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WinLossConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="weeklySummaryCollection" nillable="true" type="q12:ArrayOfWeeklySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WinLossConfirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWeeklyConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodID" type="xs:int" />
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWeeklyConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWeeklyConfirmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>