OLEIT_AS/Oleit.AS.Web.Operating/Service References/LimitControlServiceReference/LimitControlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LimitControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/LimitControlService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/LimitControlService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/LimitControlService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
      <xsd:import schemaLocation="http://localhost:53695/LimitControlService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILimitControlService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getMenuByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuByUserID" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getMenuByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFunctions" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserFunctionByMenuID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFunctionByMenuID" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserFunctionByMenuID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFunctionByMenuIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertUserFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUserFunction" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertUserFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_deleteUserFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserFunction" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_deleteUserFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertMenuToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:insertMenuToRole" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertMenuToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertMenuToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertRoleToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRoleToUser" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_insertRoleToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRoleToUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_isFunctionAuthorized_InputMessage">
    <wsdl:part name="parameters" element="tns:isFunctionAuthorized" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_isFunctionAuthorized_OutputMessage">
    <wsdl:part name="parameters" element="tns:isFunctionAuthorizedResponse" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserRole" />
  </wsdl:message>
  <wsdl:message name="ILimitControlService_getUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="ILimitControlService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/DoWork" message="tns:ILimitControlService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/DoWorkResponse" message="tns:ILimitControlService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/getMenuByUserID" message="tns:ILimitControlService_getMenuByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/getMenuByUserIDResponse" message="tns:ILimitControlService_getMenuByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/getUserFunctions" message="tns:ILimitControlService_getUserFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/getUserFunctionsResponse" message="tns:ILimitControlService_getUserFunctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFunctionByMenuID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/getUserFunctionByMenuID" message="tns:ILimitControlService_getUserFunctionByMenuID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/getUserFunctionByMenuIDResponse" message="tns:ILimitControlService_getUserFunctionByMenuID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUserFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/insertUserFunction" message="tns:ILimitControlService_insertUserFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/insertUserFunctionResponse" message="tns:ILimitControlService_insertUserFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUserFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/deleteUserFunction" message="tns:ILimitControlService_deleteUserFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/deleteUserFunctionResponse" message="tns:ILimitControlService_deleteUserFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertMenuToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/insertMenuToRole" message="tns:ILimitControlService_insertMenuToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/insertMenuToRoleResponse" message="tns:ILimitControlService_insertMenuToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRoleToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/insertRoleToUser" message="tns:ILimitControlService_insertRoleToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/insertRoleToUserResponse" message="tns:ILimitControlService_insertRoleToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isFunctionAuthorized">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/isFunctionAuthorized" message="tns:ILimitControlService_isFunctionAuthorized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/isFunctionAuthorizedResponse" message="tns:ILimitControlService_isFunctionAuthorized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ILimitControlService/getUserRole" message="tns:ILimitControlService_getUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILimitControlService/getUserRoleResponse" message="tns:ILimitControlService_getUserRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILimitControlService" type="tns:ILimitControlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuByUserID">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/getMenuByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFunctions">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/getUserFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFunctionByMenuID">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/getUserFunctionByMenuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUserFunction">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/insertUserFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserFunction">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/deleteUserFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMenuToRole">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/insertMenuToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRoleToUser">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/insertRoleToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isFunctionAuthorized">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/isFunctionAuthorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRole">
      <soap:operation soapAction="http://tempuri.org/ILimitControlService/getUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LimitControlService">
    <wsdl:port name="BasicHttpBinding_ILimitControlService" binding="tns:BasicHttpBinding_ILimitControlService">
      <soap:address location="http://localhost:53695/LimitControlService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>