OLEIT_AS/Oleit.AS.Web.Operating/Service References/LimitControlServiceReference/LimitControlService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuncMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncMenu" nillable="true" type="tns:FuncMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncMenu" nillable="true" type="tns:ArrayOfFuncMenu" />
  <xs:complexType name="FuncMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncMenu" nillable="true" type="tns:FuncMenu" />
</xs:schema>