OLEIT_AS/Oleit.AS.Service.LogicService/Service References/PeriodAccessReference/PeriodAccess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57693/PeriodAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:element name="Set1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="period" nillable="true" type="q1:Period" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="periodCollection" nillable="true" type="q2:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Query1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query1Result" nillable="true" type="q3:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query2Result" nillable="true" type="q4:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query3Result" nillable="true" type="q5:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryAllResult" nillable="true" type="q6:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="Query4Result" nillable="true" type="q7:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>