OLEIT_AS/Oleit.AS.Service.LogicService/Service References/PeriodAccessReference/PeriodAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeriodAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57693/PeriodAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57693/PeriodAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57693/PeriodAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeriodAccess_Set1_InputMessage">
    <wsdl:part name="parameters" element="tns:Set1" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Set1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set1Response" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Set2_InputMessage">
    <wsdl:part name="parameters" element="tns:Set2" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Set2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set2Response" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query1_InputMessage">
    <wsdl:part name="parameters" element="tns:Query1" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query1Response" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query2_InputMessage">
    <wsdl:part name="parameters" element="tns:Query2" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query2Response" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query3_InputMessage">
    <wsdl:part name="parameters" element="tns:Query3" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query3Response" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_QueryAll_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAll" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_QueryAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query4_InputMessage">
    <wsdl:part name="parameters" element="tns:Query4" />
  </wsdl:message>
  <wsdl:message name="IPeriodAccess_Query4_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query4Response" />
  </wsdl:message>
  <wsdl:portType name="IPeriodAccess">
    <wsdl:operation name="Set1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Set1" message="tns:IPeriodAccess_Set1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Set1Response" message="tns:IPeriodAccess_Set1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Set2" message="tns:IPeriodAccess_Set2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Set2Response" message="tns:IPeriodAccess_Set2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Query1" message="tns:IPeriodAccess_Query1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Query1Response" message="tns:IPeriodAccess_Query1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Query2" message="tns:IPeriodAccess_Query2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Query2Response" message="tns:IPeriodAccess_Query2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query3">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Query3" message="tns:IPeriodAccess_Query3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Query3Response" message="tns:IPeriodAccess_Query3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/QueryAll" message="tns:IPeriodAccess_QueryAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/QueryAllResponse" message="tns:IPeriodAccess_QueryAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query4">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodAccess/Query4" message="tns:IPeriodAccess_Query4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodAccess/Query4Response" message="tns:IPeriodAccess_Query4_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeriodAccess" type="tns:IPeriodAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Set1">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Set1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set2">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Set2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Query1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Query2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query3">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Query3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/QueryAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query4">
      <soap:operation soapAction="http://tempuri.org/IPeriodAccess/Query4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeriodAccess">
    <wsdl:port name="BasicHttpBinding_IPeriodAccess" binding="tns:BasicHttpBinding_IPeriodAccess">
      <soap:address location="http://localhost:57693/PeriodAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>