OLEIT_AS/Oleit.AS.Web.Operating/Service References/CurrencyServiceReference/CurrencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/CurrencyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/CurrencyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/CurrencyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyService_NewCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_NewCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_DelCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_DelCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_AllCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:AllCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_AllCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllCurrencyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyService">
    <wsdl:operation name="NewCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/NewCurrency" message="tns:ICurrencyService_NewCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/NewCurrencyResponse" message="tns:ICurrencyService_NewCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/DelCurrency" message="tns:ICurrencyService_DelCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/DelCurrencyResponse" message="tns:ICurrencyService_DelCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/AllCurrency" message="tns:ICurrencyService_AllCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/AllCurrencyResponse" message="tns:ICurrencyService_AllCurrency_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyService" type="tns:ICurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/NewCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/DelCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/AllCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port name="BasicHttpBinding_ICurrencyService" binding="tns:BasicHttpBinding_ICurrencyService">
      <soap:address location="http://localhost:53695/CurrencyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>