OLEIT_AS/Oleit.AS.Web.Operating/Service References/SystemDataServiceReference/SystemDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/SystemDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/SystemDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/SystemDataService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemDataService_GetUserMLJEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMLJEntity" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_GetUserMLJEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMLJEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_LoadWinAndLossLog_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadWinAndLossLog" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_LoadWinAndLossLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadWinAndLossLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_QueryRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_QueryRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_QueryRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_QueryRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_GetAccountStatusLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountStatusLog" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_GetAccountStatusLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountStatusLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_GetMLJLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMLJLog" />
  </wsdl:message>
  <wsdl:message name="ISystemDataService_GetMLJLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMLJLogResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemDataService">
    <wsdl:operation name="GetUserMLJEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/GetUserMLJEntity" message="tns:ISystemDataService_GetUserMLJEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/GetUserMLJEntityResponse" message="tns:ISystemDataService_GetUserMLJEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadWinAndLossLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/LoadWinAndLossLog" message="tns:ISystemDataService_LoadWinAndLossLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/LoadWinAndLossLogResponse" message="tns:ISystemDataService_LoadWinAndLossLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/QueryRoleMenuRelation" message="tns:ISystemDataService_QueryRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/QueryRoleMenuRelationResponse" message="tns:ISystemDataService_QueryRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/QueryRoleUserRelation" message="tns:ISystemDataService_QueryRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/QueryRoleUserRelationResponse" message="tns:ISystemDataService_QueryRoleUserRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountStatusLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/GetAccountStatusLog" message="tns:ISystemDataService_GetAccountStatusLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/GetAccountStatusLogResponse" message="tns:ISystemDataService_GetAccountStatusLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMLJLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemDataService/GetMLJLog" message="tns:ISystemDataService_GetMLJLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemDataService/GetMLJLogResponse" message="tns:ISystemDataService_GetMLJLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemDataService" type="tns:ISystemDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserMLJEntity">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/GetUserMLJEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadWinAndLossLog">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/LoadWinAndLossLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/QueryRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/QueryRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountStatusLog">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/GetAccountStatusLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMLJLog">
      <soap:operation soapAction="http://tempuri.org/ISystemDataService/GetMLJLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemDataService">
    <wsdl:port name="BasicHttpBinding_ISystemDataService" binding="tns:BasicHttpBinding_ISystemDataService">
      <soap:address location="http://localhost:53695/SystemDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>