OLEIT_AS/Oleit.AS.Web.Operating/Service References/PeriodServiceReference/PeriodService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeriodService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/PeriodService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/PeriodService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/PeriodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeriodService_SetPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPeriod" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_SetPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetPeriods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeriods" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetPeriods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_PeriodByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:PeriodByDate" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_PeriodByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PeriodByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_DateOfPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:DateOfPeriod" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_DateOfPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:DateOfPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetNextorLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextorLast" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetNextorLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextorLastResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetClosedPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosedPeriod" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetClosedPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosedPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetCurrentPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPeriod" />
  </wsdl:message>
  <wsdl:message name="IPeriodService_GetCurrentPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeriodService">
    <wsdl:operation name="SetPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/SetPeriod" message="tns:IPeriodService_SetPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/SetPeriodResponse" message="tns:IPeriodService_SetPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeriods">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/GetPeriods" message="tns:IPeriodService_GetPeriods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/GetPeriodsResponse" message="tns:IPeriodService_GetPeriods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PeriodByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/PeriodByDate" message="tns:IPeriodService_PeriodByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/PeriodByDateResponse" message="tns:IPeriodService_PeriodByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DateOfPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/DateOfPeriod" message="tns:IPeriodService_DateOfPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/DateOfPeriodResponse" message="tns:IPeriodService_DateOfPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextorLast">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/GetNextorLast" message="tns:IPeriodService_GetNextorLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/GetNextorLastResponse" message="tns:IPeriodService_GetNextorLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClosedPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/GetClosedPeriod" message="tns:IPeriodService_GetClosedPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/GetClosedPeriodResponse" message="tns:IPeriodService_GetClosedPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeriodService/GetCurrentPeriod" message="tns:IPeriodService_GetCurrentPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeriodService/GetCurrentPeriodResponse" message="tns:IPeriodService_GetCurrentPeriod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeriodService" type="tns:IPeriodService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPeriod">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/SetPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriods">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/GetPeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PeriodByDate">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/PeriodByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateOfPeriod">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/DateOfPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextorLast">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/GetNextorLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClosedPeriod">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/GetClosedPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPeriod">
      <soap:operation soapAction="http://tempuri.org/IPeriodService/GetCurrentPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeriodService">
    <wsdl:port name="BasicHttpBinding_IPeriodService" binding="tns:BasicHttpBinding_IPeriodService">
      <soap:address location="http://localhost:53695/PeriodService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>