OLEIT_AS/Oleit.AS.Web.Operating/Service References/SettleServiceReference/SettleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SettleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/SettleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/SettleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/SettleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISettleService_WeeklySummarize_InputMessage">
    <wsdl:part name="parameters" element="tns:WeeklySummarize" />
  </wsdl:message>
  <wsdl:message name="ISettleService_WeeklySummarize_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeeklySummarizeResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_WinLossConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:WinLossConfirm" />
  </wsdl:message>
  <wsdl:message name="ISettleService_WinLossConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:WinLossConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_CloseEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseEntry" />
  </wsdl:message>
  <wsdl:message name="ISettleService_CloseEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_ReverseClosing_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseClosing" />
  </wsdl:message>
  <wsdl:message name="ISettleService_ReverseClosing_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseClosingResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransferPL_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferPL" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransferPL_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferPLResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransferConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferConfirm" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransferConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransactionConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionConfirm" />
  </wsdl:message>
  <wsdl:message name="ISettleService_TransactionConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="ISettleService">
    <wsdl:operation name="WeeklySummarize">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/WeeklySummarize" message="tns:ISettleService_WeeklySummarize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/WeeklySummarizeResponse" message="tns:ISettleService_WeeklySummarize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WinLossConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/WinLossConfirm" message="tns:ISettleService_WinLossConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/WinLossConfirmResponse" message="tns:ISettleService_WinLossConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/CloseEntry" message="tns:ISettleService_CloseEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/CloseEntryResponse" message="tns:ISettleService_CloseEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseClosing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/ReverseClosing" message="tns:ISettleService_ReverseClosing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/ReverseClosingResponse" message="tns:ISettleService_ReverseClosing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferPL">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/TransferPL" message="tns:ISettleService_TransferPL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/TransferPLResponse" message="tns:ISettleService_TransferPL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/TransferConfirm" message="tns:ISettleService_TransferConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/TransferConfirmResponse" message="tns:ISettleService_TransferConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettleService/TransactionConfirm" message="tns:ISettleService_TransactionConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettleService/TransactionConfirmResponse" message="tns:ISettleService_TransactionConfirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISettleService" type="tns:ISettleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WeeklySummarize">
      <soap:operation soapAction="http://tempuri.org/ISettleService/WeeklySummarize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WinLossConfirm">
      <soap:operation soapAction="http://tempuri.org/ISettleService/WinLossConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseEntry">
      <soap:operation soapAction="http://tempuri.org/ISettleService/CloseEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseClosing">
      <soap:operation soapAction="http://tempuri.org/ISettleService/ReverseClosing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferPL">
      <soap:operation soapAction="http://tempuri.org/ISettleService/TransferPL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferConfirm">
      <soap:operation soapAction="http://tempuri.org/ISettleService/TransferConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionConfirm">
      <soap:operation soapAction="http://tempuri.org/ISettleService/TransactionConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SettleService">
    <wsdl:port name="BasicHttpBinding_ISettleService" binding="tns:BasicHttpBinding_ISettleService">
      <soap:address location="http://localhost:53695/SettleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>