OLEIT_AS/Oleit.AS.Service.LogicService/Service References/RecordAccessReference/RecordAccess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57693/RecordAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:import schemaLocation="http://localhost:57693/RecordAccess.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="record" nillable="true" type="q1:Record" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="jcollection" nillable="true" type="q2:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecordCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="recordCollection" nillable="true" type="q3:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecordCollectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryAllResult" nillable="true" type="q4:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByrecordID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByrecordIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryByrecordIDResult" nillable="true" type="q5:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBytype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="type" type="q6:RecordType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBytypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryBytypeResult" nillable="true" type="q7:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByperiod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="period" nillable="true" type="q8:Period" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByperiodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryByperiodResult" nillable="true" type="q9:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRecordStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="status" type="q10:RecordStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRecordStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryByRecordStatusResult" nillable="true" type="q11:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByapproveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="approveUser" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByapproveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryByapproveUserResult" nillable="true" type="q13:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" type="xs:int" />
        <xs:element minOccurs="0" name="sequenceNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryJournalResult" nillable="true" type="q14:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJournal2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" type="xs:int" />
        <xs:element minOccurs="0" name="baseCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJournal2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryJournal2Result" nillable="true" type="q15:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordByPeriodEntityID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityid" type="xs:int" />
        <xs:element minOccurs="0" name="periodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordByPeriodEntityIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryRecordByPeriodEntityIDResult" nillable="true" type="q16:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="user" nillable="true" type="q17:User" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="record" nillable="true" type="q18:Record" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="jcollection" nillable="true" type="q19:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWinAndLossLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="peroidID" type="xs:int" />
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWinAndLossLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadWinAndLossLogResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeletionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="jcollection" nillable="true" type="q20:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeletionLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="journal" nillable="true" type="q21:Journal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="journalCollection" nillable="true" type="q22:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalCollectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="status" type="q23:RecordStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityid" type="xs:int" />
        <xs:element minOccurs="0" name="periodid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryRecordIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetjournalSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodId" type="xs:int" />
        <xs:element minOccurs="0" name="typeid" type="xs:int" />
        <xs:element minOccurs="0" name="entityid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetjournalSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetjournalSumResult" nillable="true" type="q24:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>