OLEIT_AS/Oleit.AS.Web.Operating/Service References/MLJServiceReference/MLJService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MLJService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/MLJService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/MLJService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/MLJService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMLJService_CheckAndAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAndAdd" />
  </wsdl:message>
  <wsdl:message name="IMLJService_CheckAndAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAndAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IMLJService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJournal" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJournalResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="IMLJService_Approve_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_QueryRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRecordByID" />
  </wsdl:message>
  <wsdl:message name="IMLJService_QueryRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_QueryStatusColor_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStatusColor" />
  </wsdl:message>
  <wsdl:message name="IMLJService_QueryStatusColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStatusColorResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateColor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateColor" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateColorResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateUserMLJ_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserMLJ" />
  </wsdl:message>
  <wsdl:message name="IMLJService_UpdateUserMLJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserMLJResponse" />
  </wsdl:message>
  <wsdl:message name="IMLJService_GetMLJSum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMLJSum" />
  </wsdl:message>
  <wsdl:message name="IMLJService_GetMLJSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMLJSumResponse" />
  </wsdl:message>
  <wsdl:portType name="IMLJService">
    <wsdl:operation name="CheckAndAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/CheckAndAdd" message="tns:IMLJService_CheckAndAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/CheckAndAddResponse" message="tns:IMLJService_CheckAndAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/Query" message="tns:IMLJService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/QueryResponse" message="tns:IMLJService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/UpdateJournal" message="tns:IMLJService_UpdateJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/UpdateJournalResponse" message="tns:IMLJService_UpdateJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/Approve" message="tns:IMLJService_Approve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/ApproveResponse" message="tns:IMLJService_Approve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/QueryRecordByID" message="tns:IMLJService_QueryRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/QueryRecordByIDResponse" message="tns:IMLJService_QueryRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryStatusColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/QueryStatusColor" message="tns:IMLJService_QueryStatusColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/QueryStatusColorResponse" message="tns:IMLJService_QueryStatusColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/UpdateColor" message="tns:IMLJService_UpdateColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/UpdateColorResponse" message="tns:IMLJService_UpdateColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserMLJ">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/UpdateUserMLJ" message="tns:IMLJService_UpdateUserMLJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/UpdateUserMLJResponse" message="tns:IMLJService_UpdateUserMLJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMLJSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IMLJService/GetMLJSum" message="tns:IMLJService_GetMLJSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMLJService/GetMLJSumResponse" message="tns:IMLJService_GetMLJSum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMLJService" type="tns:IMLJService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAndAdd">
      <soap:operation soapAction="http://tempuri.org/IMLJService/CheckAndAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IMLJService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJournal">
      <soap:operation soapAction="http://tempuri.org/IMLJService/UpdateJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://tempuri.org/IMLJService/Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRecordByID">
      <soap:operation soapAction="http://tempuri.org/IMLJService/QueryRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStatusColor">
      <soap:operation soapAction="http://tempuri.org/IMLJService/QueryStatusColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateColor">
      <soap:operation soapAction="http://tempuri.org/IMLJService/UpdateColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserMLJ">
      <soap:operation soapAction="http://tempuri.org/IMLJService/UpdateUserMLJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMLJSum">
      <soap:operation soapAction="http://tempuri.org/IMLJService/GetMLJSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MLJService">
    <wsdl:port name="BasicHttpBinding_IMLJService" binding="tns:BasicHttpBinding_IMLJService">
      <soap:address location="http://localhost:53695/MLJService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>