OLEIT_AS/Oleit.AS.Web.Operating/Service References/MLJServiceReference/MLJService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53695/MLJService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:element name="CheckAndAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAndAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodID" type="xs:int" />
        <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryResult" nillable="true" type="q1:ArrayOfMLJJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="journal" nillable="true" type="q2:MLJJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Approve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MLJRecordID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryRecordByIDResult" nillable="true" type="q3:MLJRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStatusColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStatusColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryStatusColorResult" nillable="true" type="q4:ArrayOfStatusColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="collection" nillable="true" type="q5:ArrayOfStatusColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMLJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="collection" nillable="true" type="q6:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMLJResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMLJSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodId" type="xs:int" />
        <xs:element minOccurs="0" name="entityid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMLJSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMLJSumResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>