OLEIT_AS/Oleit.AS.Service.LogicService/Service References/EntityAccessReference/EntityAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57693/EntityAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57693/EntityAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57693/EntityAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityAccess_Insert1_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert2_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert3_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert3" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert4_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert4" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Insert4_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert4Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryRelationEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelationEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryRelationEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelationEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryMainEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryMainEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query1_InputMessage">
    <wsdl:part name="parameters" element="tns:Query1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query2_InputMessage">
    <wsdl:part name="parameters" element="tns:Query2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query3_InputMessage">
    <wsdl:part name="parameters" element="tns:Query3" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query4_InputMessage">
    <wsdl:part name="parameters" element="tns:Query4" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Query4_OutputMessage">
    <wsdl:part name="parameters" element="tns:Query4Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity3_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity3" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryCashEntity3_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryCashEntity3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount1_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount1_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount2_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount2_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount3_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount3" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAccount3_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccount3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySumEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySumEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySumEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySumEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySumEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySumEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySumEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySumEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySubEntitiesList_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySubEntitiesList" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QuerySubEntitiesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySubEntitiesListResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryParentSubTotalEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentSubTotalEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryParentSubTotalEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentSubTotalEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryParentTransactionEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentTransactionEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryParentTransactionEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentTransactionEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSub1_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSub1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSub1_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSub1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSub2_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSub2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSub2_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSub2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update1_InputMessage">
    <wsdl:part name="parameters" element="tns:Update1" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update2_InputMessage">
    <wsdl:part name="parameters" element="tns:Update2" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update3_InputMessage">
    <wsdl:part name="parameters" element="tns:Update3" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Update3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Disable_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Disable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Enable_InputMessage">
    <wsdl:part name="parameters" element="tns:Enable" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Enable_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_RemoveRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_RemoveRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetRate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRate" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAttributes" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Allocate_InputMessage">
    <wsdl:part name="parameters" element="tns:Allocate" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_Allocate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllocateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetRelateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelateEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_SetRelateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetRelateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetRelateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetTallyRelationEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTallyRelationEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetTallyRelationEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTallyRelationEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetTargetRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetTargetRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllMLJ_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMLJ" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllMLJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMLJResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetRelateEntityWandL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntityWandL" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_GetRelateEntityWandL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntityWandLResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSubEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSubEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryAllSubEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllSubEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryMainCash_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainCash" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryMainCash_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainCashResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryTransactionList_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryTransactionList" />
  </wsdl:message>
  <wsdl:message name="IEntityAccess_QueryTransactionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryTransactionListResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityAccess">
    <wsdl:operation name="Insert1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Insert1" message="tns:IEntityAccess_Insert1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Insert1Response" message="tns:IEntityAccess_Insert1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Insert2" message="tns:IEntityAccess_Insert2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Insert2Response" message="tns:IEntityAccess_Insert2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Insert3" message="tns:IEntityAccess_Insert3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Insert3Response" message="tns:IEntityAccess_Insert3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert4">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Insert4" message="tns:IEntityAccess_Insert4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Insert4Response" message="tns:IEntityAccess_Insert4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRelationEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryRelationEntities" message="tns:IEntityAccess_QueryRelationEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryRelationEntitiesResponse" message="tns:IEntityAccess_QueryRelationEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryMainEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryMainEntity" message="tns:IEntityAccess_QueryMainEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryMainEntityResponse" message="tns:IEntityAccess_QueryMainEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Query1" message="tns:IEntityAccess_Query1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Query1Response" message="tns:IEntityAccess_Query1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Query2" message="tns:IEntityAccess_Query2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Query2Response" message="tns:IEntityAccess_Query2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Query3" message="tns:IEntityAccess_Query3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Query3Response" message="tns:IEntityAccess_Query3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query4">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Query4" message="tns:IEntityAccess_Query4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Query4Response" message="tns:IEntityAccess_Query4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity1" message="tns:IEntityAccess_QueryCashEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity1Response" message="tns:IEntityAccess_QueryCashEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity2" message="tns:IEntityAccess_QueryCashEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity2Response" message="tns:IEntityAccess_QueryCashEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity3" message="tns:IEntityAccess_QueryCashEntity3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryCashEntity3Response" message="tns:IEntityAccess_QueryCashEntity3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAccount1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount1" message="tns:IEntityAccess_QueryAccount1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount1Response" message="tns:IEntityAccess_QueryAccount1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAccount2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount2" message="tns:IEntityAccess_QueryAccount2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount2Response" message="tns:IEntityAccess_QueryAccount2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAccount3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount3" message="tns:IEntityAccess_QueryAccount3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAccount3Response" message="tns:IEntityAccess_QueryAccount3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySumEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QuerySumEntity1" message="tns:IEntityAccess_QuerySumEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QuerySumEntity1Response" message="tns:IEntityAccess_QuerySumEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySumEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QuerySumEntity2" message="tns:IEntityAccess_QuerySumEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QuerySumEntity2Response" message="tns:IEntityAccess_QuerySumEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySubEntitiesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QuerySubEntitiesList" message="tns:IEntityAccess_QuerySubEntitiesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QuerySubEntitiesListResponse" message="tns:IEntityAccess_QuerySubEntitiesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryParentSubTotalEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryParentSubTotalEntity" message="tns:IEntityAccess_QueryParentSubTotalEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryParentSubTotalEntityResponse" message="tns:IEntityAccess_QueryParentSubTotalEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryParentTransactionEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryParentTransactionEntity" message="tns:IEntityAccess_QueryParentTransactionEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryParentTransactionEntityResponse" message="tns:IEntityAccess_QueryParentTransactionEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllSub1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSub1" message="tns:IEntityAccess_QueryAllSub1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSub1Response" message="tns:IEntityAccess_QueryAllSub1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllSub2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSub2" message="tns:IEntityAccess_QueryAllSub2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSub2Response" message="tns:IEntityAccess_QueryAllSub2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Update1" message="tns:IEntityAccess_Update1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Update1Response" message="tns:IEntityAccess_Update1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Update2" message="tns:IEntityAccess_Update2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Update2Response" message="tns:IEntityAccess_Update2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Update3" message="tns:IEntityAccess_Update3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/Update3Response" message="tns:IEntityAccess_Update3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Disable" message="tns:IEntityAccess_Disable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/DisableResponse" message="tns:IEntityAccess_Disable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Enable" message="tns:IEntityAccess_Enable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/EnableResponse" message="tns:IEntityAccess_Enable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/RemoveRelation" message="tns:IEntityAccess_RemoveRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/RemoveRelationResponse" message="tns:IEntityAccess_RemoveRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/SetRate" message="tns:IEntityAccess_SetRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/SetRateResponse" message="tns:IEntityAccess_SetRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/ChangeStatus" message="tns:IEntityAccess_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/ChangeStatusResponse" message="tns:IEntityAccess_ChangeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/SetAttributes" message="tns:IEntityAccess_SetAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/SetAttributesResponse" message="tns:IEntityAccess_SetAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Allocate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/Allocate" message="tns:IEntityAccess_Allocate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/AllocateResponse" message="tns:IEntityAccess_Allocate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/SetRelateEntity" message="tns:IEntityAccess_SetRelateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/SetRelateEntityResponse" message="tns:IEntityAccess_SetRelateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/GetRelateEntity" message="tns:IEntityAccess_GetRelateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/GetRelateEntityResponse" message="tns:IEntityAccess_GetRelateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTallyRelationEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/GetTallyRelationEntity" message="tns:IEntityAccess_GetTallyRelationEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/GetTallyRelationEntityResponse" message="tns:IEntityAccess_GetTallyRelationEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/GetTargetRelation" message="tns:IEntityAccess_GetTargetRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/GetTargetRelationResponse" message="tns:IEntityAccess_GetTargetRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryRelation" message="tns:IEntityAccess_QueryRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryRelationResponse" message="tns:IEntityAccess_QueryRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllMLJ">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllMLJ" message="tns:IEntityAccess_QueryAllMLJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllMLJResponse" message="tns:IEntityAccess_QueryAllMLJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntityWandL">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/GetRelateEntityWandL" message="tns:IEntityAccess_GetRelateEntityWandL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/GetRelateEntityWandLResponse" message="tns:IEntityAccess_GetRelateEntityWandL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllSubEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSubEntity" message="tns:IEntityAccess_QueryAllSubEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryAllSubEntityResponse" message="tns:IEntityAccess_QueryAllSubEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryMainCash">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryMainCash" message="tns:IEntityAccess_QueryMainCash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryMainCashResponse" message="tns:IEntityAccess_QueryMainCash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryTransactionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityAccess/QueryTransactionList" message="tns:IEntityAccess_QueryTransactionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityAccess/QueryTransactionListResponse" message="tns:IEntityAccess_QueryTransactionList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityAccess" type="tns:IEntityAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Insert1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Insert2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert3">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Insert3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert4">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Insert4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRelationEntities">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryRelationEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMainEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryMainEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Query1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Query2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query3">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Query3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query4">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Query4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryCashEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryCashEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCashEntity3">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryCashEntity3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAccount1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAccount1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAccount2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAccount2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAccount3">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAccount3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySumEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QuerySumEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySumEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QuerySumEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySubEntitiesList">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QuerySubEntitiesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParentSubTotalEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryParentSubTotalEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParentTransactionEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryParentTransactionEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllSub1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAllSub1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllSub2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAllSub2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update1">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Update1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update2">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Update2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update3">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Update3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Enable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/RemoveRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRate">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/SetRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAttributes">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/SetAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Allocate">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/Allocate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRelateEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/SetRelateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/GetRelateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTallyRelationEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/GetTallyRelationEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/GetTargetRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllMLJ">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAllMLJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntityWandL">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/GetRelateEntityWandL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllSubEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryAllSubEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMainCash">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryMainCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTransactionList">
      <soap:operation soapAction="http://tempuri.org/IEntityAccess/QueryTransactionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityAccess">
    <wsdl:port name="BasicHttpBinding_IEntityAccess" binding="tns:BasicHttpBinding_IEntityAccess">
      <soap:address location="http://localhost:57693/EntityAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>