OLEIT_AS/Oleit.AS.Service.LogicService/Service References/TransactionAccessReference/TransactionAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57693/TransactionAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57693/TransactionAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57693/TransactionAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionAccess_QueryAll_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAll" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_QueryAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_QueryByPeriodid_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByPeriodid" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_QueryByPeriodid_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByPeriodidResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_QueryByID_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByID" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_QueryByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_InsertTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_InsertTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_InsertTransactionCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransactionCollection" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_InsertTransactionCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransactionCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_SetNotices_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotices" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_SetNotices_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNoticesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_SetConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfirm" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_SetConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITransactionAccess_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionAccess">
    <wsdl:operation name="QueryAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/QueryAll" message="tns:ITransactionAccess_QueryAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/QueryAllResponse" message="tns:ITransactionAccess_QueryAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByPeriodid">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/QueryByPeriodid" message="tns:ITransactionAccess_QueryByPeriodid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/QueryByPeriodidResponse" message="tns:ITransactionAccess_QueryByPeriodid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/QueryByID" message="tns:ITransactionAccess_QueryByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/QueryByIDResponse" message="tns:ITransactionAccess_QueryByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/InsertTransaction" message="tns:ITransactionAccess_InsertTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/InsertTransactionResponse" message="tns:ITransactionAccess_InsertTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/InsertTransactionCollection" message="tns:ITransactionAccess_InsertTransactionCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/InsertTransactionCollectionResponse" message="tns:ITransactionAccess_InsertTransactionCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotices">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/SetNotices" message="tns:ITransactionAccess_SetNotices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/SetNoticesResponse" message="tns:ITransactionAccess_SetNotices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/SetConfirm" message="tns:ITransactionAccess_SetConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/SetConfirmResponse" message="tns:ITransactionAccess_SetConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionAccess/Update" message="tns:ITransactionAccess_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionAccess/UpdateResponse" message="tns:ITransactionAccess_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionAccess" type="tns:ITransactionAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAll">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/QueryAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByPeriodid">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/QueryByPeriodid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByID">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/QueryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/InsertTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionCollection">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/InsertTransactionCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotices">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/SetNotices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfirm">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/SetConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITransactionAccess/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionAccess">
    <wsdl:port name="BasicHttpBinding_ITransactionAccess" binding="tns:BasicHttpBinding_ITransactionAccess">
      <soap:address location="http://localhost:57693/TransactionAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>