OLEIT_AS/Oleit.AS.Web.Operating/Service References/MenuServiceReference/MenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/MenuService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/MenuService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/MenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryAllRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryAllRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryRoleUser_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUser" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryRoleUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRoleUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRole_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRole" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryAllMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryAllMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryUserMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_QueryUserMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUserMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRoleMenuRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleMenuRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRoleMenuRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleMenuRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRoleUserRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleUserRelation" />
  </wsdl:message>
  <wsdl:message name="IMenuService_InsertRoleUserRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleUserRelationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/DoWork" message="tns:IMenuService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DoWorkResponse" message="tns:IMenuService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryAllRole" message="tns:IMenuService_QueryAllRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryAllRoleResponse" message="tns:IMenuService_QueryAllRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryRole" message="tns:IMenuService_QueryRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryRoleResponse" message="tns:IMenuService_QueryRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/UpdateRole" message="tns:IMenuService_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/UpdateRoleResponse" message="tns:IMenuService_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryRoleUser" message="tns:IMenuService_QueryRoleUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryRoleUserResponse" message="tns:IMenuService_QueryRoleUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryUserRole" message="tns:IMenuService_QueryUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryUserRoleResponse" message="tns:IMenuService_QueryUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/DeleteRole" message="tns:IMenuService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DeleteRoleResponse" message="tns:IMenuService_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/InsertRole" message="tns:IMenuService_InsertRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/InsertRoleResponse" message="tns:IMenuService_InsertRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryAllMenu" message="tns:IMenuService_QueryAllMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryAllMenuResponse" message="tns:IMenuService_QueryAllMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/QueryUserMenu" message="tns:IMenuService_QueryUserMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/QueryUserMenuResponse" message="tns:IMenuService_QueryUserMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/DeleteRoleMenuRelation" message="tns:IMenuService_DeleteRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DeleteRoleMenuRelationResponse" message="tns:IMenuService_DeleteRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoleMenuRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/InsertRoleMenuRelation" message="tns:IMenuService_InsertRoleMenuRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/InsertRoleMenuRelationResponse" message="tns:IMenuService_InsertRoleMenuRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/DeleteRoleUserRelation" message="tns:IMenuService_DeleteRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DeleteRoleUserRelationResponse" message="tns:IMenuService_DeleteRoleUserRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoleUserRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/InsertRoleUserRelation" message="tns:IMenuService_InsertRoleUserRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/InsertRoleUserRelationResponse" message="tns:IMenuService_InsertRoleUserRelation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuService" type="tns:IMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMenuService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryAllRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRoleUser">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryRoleUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRole">
      <soap:operation soapAction="http://tempuri.org/IMenuService/InsertRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryAllMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/QueryUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuService/DeleteRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleMenuRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuService/InsertRoleMenuRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuService/DeleteRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleUserRelation">
      <soap:operation soapAction="http://tempuri.org/IMenuService/InsertRoleUserRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="BasicHttpBinding_IMenuService" binding="tns:BasicHttpBinding_IMenuService">
      <soap:address location="http://localhost:53695/MenuService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>