OLEIT_AS/Oleit.AS.Service.LogicService/Service References/CurrencyAccessReference/CurrencyAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.8.37:8000/CurrencyAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.8.37:8000/CurrencyAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.8.37:8000/CurrencyAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyAccess_Insert1_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert1" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Insert1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert1Response" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Insert2_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert2" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Insert2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert2Response" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_QueryAll_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAll" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_QueryAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICurrencyAccess_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyAccess">
    <wsdl:operation name="Insert1">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyAccess/Insert1" message="tns:ICurrencyAccess_Insert1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyAccess/Insert1Response" message="tns:ICurrencyAccess_Insert1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyAccess/Insert2" message="tns:ICurrencyAccess_Insert2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyAccess/Insert2Response" message="tns:ICurrencyAccess_Insert2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyAccess/Query" message="tns:ICurrencyAccess_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyAccess/QueryResponse" message="tns:ICurrencyAccess_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyAccess/QueryAll" message="tns:ICurrencyAccess_QueryAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyAccess/QueryAllResponse" message="tns:ICurrencyAccess_QueryAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyAccess/Delete" message="tns:ICurrencyAccess_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyAccess/DeleteResponse" message="tns:ICurrencyAccess_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyAccess" type="tns:ICurrencyAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert1">
      <soap:operation soapAction="http://tempuri.org/ICurrencyAccess/Insert1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert2">
      <soap:operation soapAction="http://tempuri.org/ICurrencyAccess/Insert2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/ICurrencyAccess/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <soap:operation soapAction="http://tempuri.org/ICurrencyAccess/QueryAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICurrencyAccess/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyAccess">
    <wsdl:port name="BasicHttpBinding_ICurrencyAccess" binding="tns:BasicHttpBinding_ICurrencyAccess">
      <soap:address location="http://192.168.8.37:8000/CurrencyAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>