OLEIT_AS/Oleit.AS.Web.Operating/Service References/EntityServiceReference/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
      <xsd:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_NewEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewEntity3_InputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity3" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewEntity3_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewEntity3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAll" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity3_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity3" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity3_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity4_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity4" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadEntity4_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadEntity4Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccountEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccountEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccountEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccountEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadLastLevelEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLastLevelEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadLastLevelEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLastLevelEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryRelationEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelationEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryRelationEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryRelationEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadSingleEntityList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadSingleEntityList" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadSingleEntityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadSingleEntityListResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QuerySubEntitiesList_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySubEntitiesList" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QuerySubEntitiesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySubEntitiesListResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QuerySingleBranchEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySingleBranchEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QuerySingleBranchEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySingleBranchEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryMainEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryMainEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryMainEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity3_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity3" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashEntity3_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashEntity3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount1_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount1_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount2_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount2_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount3_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount3" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadAccount3_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccount3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadSubtotalEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadSubtotalEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadSubtotalEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadSubtotalEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryParentSubTotalEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentSubTotalEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryParentSubTotalEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryParentSubTotalEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTransactionEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTransactionEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTransactionEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTransactionEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTransactionEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTransactionEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTransactionEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTransactionEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity1_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity1" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity1Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity2_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity2" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity2Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity3_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity3" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity3_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity3Response" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeEntityType_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEntityType" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeEntityType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEntityTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityService_NewRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SetRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SetRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SetCurrencyAndRate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrencyAndRate" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SetCurrencyAndRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrencyAndRateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeRate" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Disable_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Disable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Enable_InputMessage">
    <wsdl:part name="parameters" element="tns:Enable" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Enable_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelation" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntryEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntryEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntryEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntryEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetRelateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetRelateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="IEntityService_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RelationEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:RelationEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RelationEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelationEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RelationEntityWandL_InputMessage">
    <wsdl:part name="parameters" element="tns:RelationEntityWandL" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RelationEntityWandL_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelationEntityWandLResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryAllMLJ_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMLJ" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryAllMLJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllMLJResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashMainAndTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashMainAndTransaction" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadCashMainAndTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCashMainAndTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_CheckTransactionTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTransactionTransfer" />
  </wsdl:message>
  <wsdl:message name="IEntityService_CheckTransactionTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTransactionTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="NewEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/NewEntity1" message="tns:IEntityService_NewEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/NewEntity1Response" message="tns:IEntityService_NewEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/NewEntity2" message="tns:IEntityService_NewEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/NewEntity2Response" message="tns:IEntityService_NewEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewEntity3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/NewEntity3" message="tns:IEntityService_NewEntity3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/NewEntity3Response" message="tns:IEntityService_NewEntity3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadEntity1" message="tns:IEntityService_LoadEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadEntity1Response" message="tns:IEntityService_LoadEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadAll" message="tns:IEntityService_LoadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadAllResponse" message="tns:IEntityService_LoadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadEntity2" message="tns:IEntityService_LoadEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadEntity2Response" message="tns:IEntityService_LoadEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadEntity3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadEntity3" message="tns:IEntityService_LoadEntity3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadEntity3Response" message="tns:IEntityService_LoadEntity3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadEntity4">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadEntity4" message="tns:IEntityService_LoadEntity4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadEntity4Response" message="tns:IEntityService_LoadEntity4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAccountEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadAccountEntities" message="tns:IEntityService_LoadAccountEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadAccountEntitiesResponse" message="tns:IEntityService_LoadAccountEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLastLevelEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadLastLevelEntities" message="tns:IEntityService_LoadLastLevelEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadLastLevelEntitiesResponse" message="tns:IEntityService_LoadLastLevelEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryRelationEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QueryRelationEntities" message="tns:IEntityService_QueryRelationEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QueryRelationEntitiesResponse" message="tns:IEntityService_QueryRelationEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadSingleEntityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadSingleEntityList" message="tns:IEntityService_LoadSingleEntityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadSingleEntityListResponse" message="tns:IEntityService_LoadSingleEntityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySubEntitiesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QuerySubEntitiesList" message="tns:IEntityService_QuerySubEntitiesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QuerySubEntitiesListResponse" message="tns:IEntityService_QuerySubEntitiesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySingleBranchEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QuerySingleBranchEntity" message="tns:IEntityService_QuerySingleBranchEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QuerySingleBranchEntityResponse" message="tns:IEntityService_QuerySingleBranchEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity1" message="tns:IEntityService_LoadCashEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity1Response" message="tns:IEntityService_LoadCashEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryMainEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QueryMainEntity" message="tns:IEntityService_QueryMainEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QueryMainEntityResponse" message="tns:IEntityService_QueryMainEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity2" message="tns:IEntityService_LoadCashEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity2Response" message="tns:IEntityService_LoadCashEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity3" message="tns:IEntityService_LoadCashEntity3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadCashEntity3Response" message="tns:IEntityService_LoadCashEntity3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAccount1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadAccount1" message="tns:IEntityService_LoadAccount1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadAccount1Response" message="tns:IEntityService_LoadAccount1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAccount2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadAccount2" message="tns:IEntityService_LoadAccount2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadAccount2Response" message="tns:IEntityService_LoadAccount2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAccount3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadAccount3" message="tns:IEntityService_LoadAccount3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadAccount3Response" message="tns:IEntityService_LoadAccount3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadSubtotalEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadSubtotalEntity1" message="tns:IEntityService_LoadSubtotalEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadSubtotalEntity1Response" message="tns:IEntityService_LoadSubtotalEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryParentSubTotalEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QueryParentSubTotalEntity" message="tns:IEntityService_QueryParentSubTotalEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QueryParentSubTotalEntityResponse" message="tns:IEntityService_QueryParentSubTotalEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadTransactionEntity1" message="tns:IEntityService_LoadTransactionEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadTransactionEntity1Response" message="tns:IEntityService_LoadTransactionEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadTransactionEntity2" message="tns:IEntityService_LoadTransactionEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadTransactionEntity2Response" message="tns:IEntityService_LoadTransactionEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntity1">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntity1" message="tns:IEntityService_SaveEntity1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntity1Response" message="tns:IEntityService_SaveEntity1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntity2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntity2" message="tns:IEntityService_SaveEntity2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntity2Response" message="tns:IEntityService_SaveEntity2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntity3">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntity3" message="tns:IEntityService_SaveEntity3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntity3Response" message="tns:IEntityService_SaveEntity3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEntityType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/ChangeEntityType" message="tns:IEntityService_ChangeEntityType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/ChangeEntityTypeResponse" message="tns:IEntityService_ChangeEntityType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/NewRelation" message="tns:IEntityService_NewRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/NewRelationResponse" message="tns:IEntityService_NewRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SetRelation" message="tns:IEntityService_SetRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SetRelationResponse" message="tns:IEntityService_SetRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrencyAndRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SetCurrencyAndRate" message="tns:IEntityService_SetCurrencyAndRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SetCurrencyAndRateResponse" message="tns:IEntityService_SetCurrencyAndRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/ChangeRate" message="tns:IEntityService_ChangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/ChangeRateResponse" message="tns:IEntityService_ChangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Disable" message="tns:IEntityService_Disable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/DisableResponse" message="tns:IEntityService_Disable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Enable" message="tns:IEntityService_Enable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/EnableResponse" message="tns:IEntityService_Enable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RemoveRelation" message="tns:IEntityService_RemoveRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RemoveRelationResponse" message="tns:IEntityService_RemoveRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntryEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntryEntities" message="tns:IEntityService_GetEntryEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntryEntitiesResponse" message="tns:IEntityService_GetEntryEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetRelateEntity" message="tns:IEntityService_GetRelateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetRelateEntityResponse" message="tns:IEntityService_GetRelateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/ChangeStatus" message="tns:IEntityService_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/ChangeStatusResponse" message="tns:IEntityService_ChangeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelationEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RelationEntity" message="tns:IEntityService_RelationEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RelationEntityResponse" message="tns:IEntityService_RelationEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelationEntityWandL">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RelationEntityWandL" message="tns:IEntityService_RelationEntityWandL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RelationEntityWandLResponse" message="tns:IEntityService_RelationEntityWandL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllMLJ">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/QueryAllMLJ" message="tns:IEntityService_QueryAllMLJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/QueryAllMLJResponse" message="tns:IEntityService_QueryAllMLJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCashMainAndTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LoadCashMainAndTransaction" message="tns:IEntityService_LoadCashMainAndTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LoadCashMainAndTransactionResponse" message="tns:IEntityService_LoadCashMainAndTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTransactionTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/CheckTransactionTransfer" message="tns:IEntityService_CheckTransactionTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/CheckTransactionTransferResponse" message="tns:IEntityService_CheckTransactionTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/NewEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/NewEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewEntity3">
      <soap:operation soapAction="http://tempuri.org/IEntityService/NewEntity3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAll">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadEntity3">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadEntity3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadEntity4">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadEntity4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAccountEntities">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadAccountEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadLastLevelEntities">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadLastLevelEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryRelationEntities">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QueryRelationEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSingleEntityList">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadSingleEntityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySubEntitiesList">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QuerySubEntitiesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySingleBranchEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QuerySingleBranchEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadCashEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMainEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QueryMainEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadCashEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCashEntity3">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadCashEntity3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAccount1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadAccount1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAccount2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadAccount2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAccount3">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadAccount3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSubtotalEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadSubtotalEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParentSubTotalEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QueryParentSubTotalEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadTransactionEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadTransactionEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntity1">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntity1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntity2">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntity2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntity3">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntity3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEntityType">
      <soap:operation soapAction="http://tempuri.org/IEntityService/ChangeEntityType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityService/NewRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SetRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrencyAndRate">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SetCurrencyAndRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeRate">
      <soap:operation soapAction="http://tempuri.org/IEntityService/ChangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Enable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRelation">
      <soap:operation soapAction="http://tempuri.org/IEntityService/RemoveRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntryEntities">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetEntryEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetRelateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/IEntityService/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/RelationEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelationEntityWandL">
      <soap:operation soapAction="http://tempuri.org/IEntityService/RelationEntityWandL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllMLJ">
      <soap:operation soapAction="http://tempuri.org/IEntityService/QueryAllMLJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCashMainAndTransaction">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LoadCashMainAndTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTransactionTransfer">
      <soap:operation soapAction="http://tempuri.org/IEntityService/CheckTransactionTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntityService" binding="tns:BasicHttpBinding_IEntityService">
      <soap:address location="http://localhost:53695/EntityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>