OLEIT_AS/Oleit.AS.Web.Operating/Service References/EntityServiceReference/EntityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" />
  <xs:import schemaLocation="http://localhost:53695/EntityService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="NewEntity1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q1:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEntity1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEntity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q2:Entity" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="cashEntity" nillable="true" type="q3:CashEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEntity2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEntity3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q4:Entity" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="account" nillable="true" type="q5:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEntity3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadEntity1Result" nillable="true" type="q6:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadAllResult" nillable="true" type="q7:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadEntity2Result" nillable="true" type="q8:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadEntity3Result" nillable="true" type="q9:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entityIDs" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEntity4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadEntity4Result" nillable="true" type="q11:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccountEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccountEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadAccountEntitiesResult" nillable="true" type="q12:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLastLevelEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLastLevelEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadLastLevelEntitiesResult" nillable="true" type="q13:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRelationEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRelationEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryRelationEntitiesResult" nillable="true" type="q14:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSingleEntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSingleEntityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadSingleEntityListResult" nillable="true" type="q15:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySubEntitiesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySubEntitiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QuerySubEntitiesListResult" nillable="true" type="q16:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySingleBranchEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySingleBranchEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuerySingleBranchEntityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadCashEntity1Result" nillable="true" type="q17:ArrayOfCashEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMainEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMainEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryMainEntityResult" nillable="true" type="q18:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadCashEntity2Result" nillable="true" type="q19:ArrayOfCashEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashEntity3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadCashEntity3Result" nillable="true" type="q20:ArrayOfCashEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadAccount1Result" nillable="true" type="q21:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadAccount2Result" nillable="true" type="q22:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccount3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadAccount3Result" nillable="true" type="q23:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSubtotalEntity1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSubtotalEntity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadSubtotalEntity1Result" nillable="true" type="q24:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryParentSubTotalEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryParentSubTotalEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryParentSubTotalEntityResult" nillable="true" type="q25:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransactionEntity1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransactionEntity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadTransactionEntity1Result" nillable="true" type="q26:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransactionEntity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTransactionEntity2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadTransactionEntity2Result" nillable="true" type="q27:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q28:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q29:Entity" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="cashEntity" nillable="true" type="q30:CashEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="entity" nillable="true" type="q31:Entity" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="account" nillable="true" type="q32:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="type" type="q33:EntityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEntityTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="relation" nillable="true" type="q34:Relation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRelationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="relation" nillable="true" type="q35:Relation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrencyAndRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element minOccurs="0" name="currencyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrencyAndRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element minOccurs="0" name="rate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Enable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element minOccurs="0" name="targetEntityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRelationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="GetEntryEntitiesResult" nillable="true" type="q36:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="GetRelateEntityResult" nillable="true" type="q37:ArrayOfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="user" nillable="true" type="q38:User" />
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="status" type="q39:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RelationEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelationEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="RelationEntityResult" nillable="true" type="q40:ArrayOfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelationEntityWandL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelationEntityWandLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="RelationEntityWandLResult" nillable="true" type="q41:ArrayOfRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllMLJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllMLJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="QueryAllMLJResult" nillable="true" type="q42:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashMainAndTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCashMainAndTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="LoadCashMainAndTransactionResult" nillable="true" type="q43:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransactionTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransactionTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" minOccurs="0" name="CheckTransactionTransferResult" nillable="true" type="q44:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>