OLEIT_AS/Oleit.AS.Web.Operating/Service References/DataEntryServiceReference/DataEntryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oleit.AS.Service.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53695/DataEntryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="JournalCollection" nillable="true" type="tns:ArrayOfJournal" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="tns:Period" />
      <xs:element minOccurs="0" name="RecordID" type="xs:int" />
      <xs:element minOccurs="0" name="RecordStatus" type="tns:RecordStatus" />
      <xs:element minOccurs="0" name="Type" type="tns:RecordType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="ArrayOfJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Journal" nillable="true" type="tns:Journal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournal" nillable="true" type="tns:ArrayOfJournal" />
  <xs:complexType name="Journal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="EntryUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordID" type="xs:int" />
      <xs:element minOccurs="0" name="SGDAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SequenceNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Journal" nillable="true" type="tns:Journal" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enable" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPWD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Period" nillable="true" type="tns:Period" />
  <xs:simpleType name="RecordStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Confirm" />
      <xs:enumeration value="Avoid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecordStatus" nillable="true" type="tns:RecordStatus" />
  <xs:simpleType name="RecordType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WinAndLoss">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transfer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transaction">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecordType" nillable="true" type="tns:RecordType" />
  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseBefore" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="tns:Currency" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordID" type="xs:int" />
      <xs:element minOccurs="0" name="RecordNotInDB" nillable="true" type="tns:Record" />
      <xs:element minOccurs="0" name="SGDBefore" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGDResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToEntity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="TransferDetailCollection" nillable="true" type="tns:ArrayOfTransferDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transfer" nillable="true" type="tns:Transfer" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="tns:Currency" />
      <xs:element minOccurs="0" name="Enable" type="xs:int" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityType" type="tns:EntityType" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsAccount" type="xs:int" />
      <xs:element minOccurs="0" name="IsLastLevel" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="SubEntities" nillable="true" type="tns:ArrayOfEntity" />
      <xs:element minOccurs="0" name="SumType" type="tns:SumType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAndL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cash">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expence">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BadDebt">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MLJ">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
  <xs:simpleType name="SumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Not" />
      <xs:enumeration value="Transaction" />
      <xs:enumeration value="Subtotal" />
      <xs:enumeration value="Super" />
      <xs:enumeration value="Master" />
      <xs:enumeration value="Agent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SumType" nillable="true" type="tns:SumType" />
  <xs:complexType name="ArrayOfTransferDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferDetail" nillable="true" type="tns:TransferDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransferDetail" nillable="true" type="tns:ArrayOfTransferDetail" />
  <xs:complexType name="TransferDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseBefore" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseTransfer" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProfitAndLoss" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordID" type="xs:int" />
      <xs:element minOccurs="0" name="SGDBefore" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGDResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGDTransfer" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferDetail" nillable="true" type="tns:TransferDetail" />
  <xs:complexType name="ArrayOfRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecord" nillable="true" type="tns:ArrayOfRecord" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConfirmPeriod" nillable="true" type="tns:Period" />
      <xs:element minOccurs="0" name="ConfirmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConfirmUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromEntity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPay" type="tns:IsPay" />
      <xs:element minOccurs="0" name="NoticeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoticeUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="tns:Period" />
      <xs:element minOccurs="0" name="ToCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToEntity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="To_Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updater" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:simpleType name="IsPay">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="Y" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IsPay" nillable="true" type="tns:IsPay" />
</xs:schema>